Use this Notebook to obtain the address using latitude and longitude

In [1]:
# Import the Pandas library with the alias 'pd'
import pandas as pd

# Read the data from the CSV file into a Pandas DataFrame named 'all_homes_df'
all_homes_df = pd.read_csv("Resources/housing.csv")

# Display the DataFrame to view the loaded data
all_homes_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,INLAND,78100
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,INLAND,77100
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,INLAND,92300
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,INLAND,84700
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,INLAND,89400

In [2]:
# Iterate over each column in the DataFrame
for column in all_homes_df.columns:
    # Print the column name and the count of null values
    print(f"Column {column} has {all_homes_df[column].isnull().sum()} null values")

Column longitude has 0 null values
Column latitude has 0 null values
Column housing_median_age has 0 null values
Column total_rooms has 0 null values
Column total_bedrooms has 207 null values
Column population has 0 null values
Column households has 0 null values
Column median_income has 0 null values
Column ocean_proximity has 0 null values
Column median_house_value has 0 null values

In [3]:
# Drop duplicate rows 
all_homes_df.drop_duplicates(inplace=True)

In [4]:
# Display DataFrame Information:
all_homes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   ocean_proximity     20640 non-null  object
 9   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.7+ MB

In [5]:
# Specify the columns with missing values that need imputation
columns_with_missing_values = ['total_bedrooms']

# Calculate the median values for the specified columns
median_values = all_homes_df[columns_with_missing_values].median(numeric_only=True)

# Fill missing values in the specified columns with their respective medians
all_homes_df[columns_with_missing_values] = all_homes_df[columns_with_missing_values].fillna(median_values)

In [6]:
# Import necessary libraries
import pandas as pd
from scipy.stats import zscore

# Specify numerical columns for outlier removal
numerical_columns = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']

# Set the Z-score threshold for outlier removal
zscore_threshold = 3

# Check for outliers using Z-score
z_scores = zscore(all_homes_df[numerical_columns])
abs_z_scores = abs(z_scores)
outliers = (abs_z_scores > zscore_threshold).any(axis=1)

# Remove outliers and create a new DataFrame without outliers
all_homes_df_no_outliers = all_homes_df[~outliers]

# Display information about the new DataFrame without outliers
print(all_homes_df_no_outliers.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19746 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           19746 non-null  float64
 1   latitude            19746 non-null  float64
 2   housing_median_age  19746 non-null  int64
 3   total_rooms         19746 non-null  int64
 4   total_bedrooms      19746 non-null  float64
 5   population          19746 non-null  int64
 6   households          19746 non-null  int64
 7   median_income       19746 non-null  float64
 8   ocean_proximity     19746 non-null  object
 9   median_house_value  19746 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.7+ MB
None

In [7]:
# Import the Pandas library with the alias 'pd'
import pandas as pd

# Identify categorical columns for one-hot encoding
categorical_columns = ['ocean_proximity']

# Perform one-hot encoding on the DataFrame without outliers
all_homes_df_encoded = pd.get_dummies(all_homes_df_no_outliers, columns=categorical_columns)

# Display information about the DataFrame after one-hot encoding
print(all_homes_df_encoded.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19746 entries, 0 to 20639
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   longitude                   19746 non-null  float64
 1   latitude                    19746 non-null  float64
 2   housing_median_age          19746 non-null  int64
 3   total_rooms                 19746 non-null  int64
 4   total_bedrooms              19746 non-null  float64
 5   population                  19746 non-null  int64
 6   households                  19746 non-null  int64
 7   median_income               19746 non-null  float64
 8   median_house_value          19746 non-null  int64
 9   ocean_proximity_<1H OCEAN   19746 non-null  uint8
 10  ocean_proximity_INLAND      19746 non-null  uint8
 11  ocean_proximity_ISLAND      19746 non-null  uint8
 12  ocean_proximity_NEAR BAY    19746 non-null  uint8
 13  ocean_proximity_NEAR OCEAN  19746 non-null  uint8
dtypes: float64(4), int64(5), uint8(5)
memory usage: 1.6 MB
None

Random Forest Model

In [8]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from sqlalchemy import create_engine

# Define features (X) and target variable (y)
X = all_homes_df_encoded.drop('median_house_value', axis=1)
y = all_homes_df_encoded['median_house_value']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Feature scaling using MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create an SQLite database file
db_engine = create_engine('sqlite:///homesdb.db')
db_engine.dispose()

# Save DataFrame 'all_homes_df_encoded' to an SQLite table named 'Homesdata'
all_homes_df_encoded.to_sql('Homesdata', db_engine, if_exists='replace', index=False)

# Connect to the SQLite database
query = 'SELECT * FROM Homesdata'
data_from_sql = pd.read_sql(query, db_engine)

# Train the RandomForestRegressor model using data retrieved from SQL
rf_reg_sql = RandomForestRegressor()
rf_reg_sql.fit(data_from_sql.drop('median_house_value', axis=1), data_from_sql['median_house_value'])

# Make predictions on the test set using original features
y_pred_rf_sql = rf_reg_sql.predict(X_test)

# Evaluate the Random Forest model using original features
mse_rf_sql = mean_squared_error(y_test, y_pred_rf_sql)
rmse_rf_sql = mean_squared_error(y_test, y_pred_rf_sql, squared=False)
mae_rf_sql = mean_absolute_error(y_test, y_pred_rf_sql)
r2_rf_sql = r2_score(y_test, y_pred_rf_sql)

# Display Random Forest model metrics using data from SQL
print("\nRandom Forest Model Metrics using Data from SQL:")
print(f'Mean Squared Error: {mse_rf_sql}')
print(f'Root Mean Squared Error: {rmse_rf_sql}')
print(f'Mean Absolute Error: {mae_rf_sql}')
print(f'R-squared Score: {r2_rf_sql}')

# Display predicted values using Random Forest Model
print("\nPredicted Values using Random Forest Model:")
# 'all_homes_df_encoded' is  original DataFrame
all_homes_df_encoded['Predicted_Values_RF'] = rf_reg_sql.predict(all_homes_df_encoded.drop('median_house_value', axis=1))

# Display the first few rows of the updated DataFrame
print(all_homes_df_encoded.head())

Random Forest Model Metrics using Data from SQL:
Mean Squared Error: 333803180.17875814
Root Mean Squared Error: 18270.281338248686
Mean Absolute Error: 11822.359450632912
R-squared Score: 0.9731254165871122

Predicted Values using Random Forest Model:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                  41          880           129.0
1    -122.22     37.86                  21         7099          1106.0
2    -122.24     37.85                  52         1467           190.0
3    -122.25     37.85                  52         1274           235.0
4    -122.25     37.85                  52         1627           280.0

   population  households  median_income  median_house_value  \
0         322         126         8.3252              452600
1        2401        1138         8.3014              358500
2         496         177         7.2574              352100
3         558         219         5.6431              341300
4         565         259         3.8462              342200

   ocean_proximity_<1H OCEAN  ocean_proximity_INLAND  ocean_proximity_ISLAND  \
0                          0                       0                       0
1                          0                       0                       0
2                          0                       0                       0
3                          0                       0                       0
4                          0                       0                       0

   ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN  Predicted_Values_RF
0                         1                           0            454931.13
1                         1                           0            379692.04
2                         1                           0            375770.01
3                         1                           0            336643.02
4                         1                           0            293841.00

In [13]:
# Import necessary libraries
import requests
import pandas as pd
from requests.exceptions import RequestException, ConnectionError
import time

# Import API key
from api_keys import geoapify_key  # Correct import

# Function to get address from coordinates
def get_address_from_coordinates(latitude, longitude, max_retries=3):
    # Build the API request URL
    url = f"https://api.geoapify.com/v1/geocode/reverse?lat={latitude}&lon={longitude}&apiKey={geoapify_key}"  # Use correct variable name
    
    # Retry loop with a maximum number of attempts
    for attempt in range(max_retries):
        try:
            # Make a GET request to the Geoapify API
            response = requests.get(url)
            response.raise_for_status()  # Raise an error for bad responses (4xx and 5xx)
            
            # Check if the response is successful
            if response.status_code == 200:
                data = response.json()
                # Check if the response contains address features
                if data.get("features"):
                    address = data["features"][0]["properties"]["formatted"]
                    return address
        except ConnectionError as e:
            # Handle connection errors and introduce a delay before retrying
            print(f"Connection error (attempt {attempt + 1}/{max_retries}): {e}")
            time.sleep(1)
        except RequestException as e:
            # Handle general request errors and introduce a delay before retrying
            print(f"Request error (attempt {attempt + 1}/{max_retries}): {e}")
            time.sleep(1)
    
    return None

# Initialize new columns for addresses
all_homes_df_encoded['address'] = None

# Define batch size
batch_size = 500

# Iterate through batches
for batch_start in range(0, len(all_homes_df_encoded), batch_size):
    batch_end = min(batch_start + batch_size, len(all_homes_df_encoded))
    current_batch_df = all_homes_df_encoded.iloc[batch_start:batch_end]

    current_addresses = []
    
    # Iterate through rows in the current batch
    for i, r in current_batch_df.iterrows():
        latitude = r["latitude"]
        longitude = r["longitude"]
        
        # Get address from coordinates and append to the list
        address = get_address_from_coordinates(latitude, longitude)
        current_addresses.append(address) if address else current_addresses.append(None)

    # Update the 'address' column in the original dataframe
    all_homes_df_encoded.loc[current_batch_df.index, 'address'] = current_addresses

# Print the result
print("Addresses added to the dataframe.")

# Optionally, you can save the updated dataframe to a new CSV file
all_homes_df_encoded.to_csv("resources/all_homes_with_addresses.csv", index=False)

Addresses added to the dataframe.